
 .head{
  margin: center;
  font-size: 60px;
 }
 .leftp{
  padding-left: 80px;
  width: 50%;
  float: left;
  font-size: 36;
 }
 h1{
  text-align: center;
 }
 .rightp{
  float: right;
  padding-right: 80px;
 }
 b{
  background-color: #f2f5f4;
  color: rgb(0, 0, 0);
  border-radius: 2px;
 }
 .line-1 {
    height: 15px;
    background: rgb(254, 253, 253);
    width: 300px;
  }