
 .head{
  margin: center;
  font-size: 60px;
 }
 .leftp{
  padding-left: 80px;
  width: 50%;
  font-size: 16px;
 }
 h1{
  text-align: center;
 }
 .rightp{
  
  margin: auto;
 }
 b{
  background-color: #f2f5f4;
  color: rgb(0, 0, 0);
  border-radius: 2px;
 }
 .line-1 {
    height: 15px;
    background: rgb(254, 253, 253);
    width: 300px;
  }
.timeline{
  display: flex;
}